<% _.each(allCategoryFoodList, (foodList, category) => { %>
<div class="toggle-box">
    <input class="checkbox" type="checkbox" id="toggle-<%= category %>" checked>
    <label class="toggle-label" for="toggle-<%= category %>"><%= category %></label>
    <div class="toggle-content">
        <div class="module">
            <ul>
                <% _.each(foodList, (food) => { %>
                <li><%= food.foodNm %> <span><%= food.foodPrice %></span></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<% }); %>