<% if(allCategoryFoodList.imageMenu){
    const imageMenu = allCategoryFoodList.imageMenu
    delete allCategoryFoodList.imageMenu
%>
<div class="imgFood toggle-box">
    <% _.each(imageMenu, (imgFood) => { %>
    <div class="imgMenu">
        <img class="menuImage" src="<%= imgFood.imgUrl %>" onerror="../static/default.png">
        <div class="imgMenuInfo">
            <span class="imgMenuName"><%= imgFood.foodNm %></span>
            <strong class="imgMenuPrice"><%= imgFood.foodPrice %></strong>
        </div>
    </div>
    <% }) %>
</div>
<% } %>
<% _.each(allCategoryFoodList, (foodList, category) => { %>
<div class="toggle-box">
    <input class="checkbox" type="checkbox" id="toggle-<%= category %>">
    <label class="toggle-label" for="toggle-<%= category %>"><%= category %></label>
    <div class="toggle-content">
        <div class="module">
            <ul>
                <% _.each(foodList, (food) => { %>
                <li><%= food.foodNm %> <span><%= food.foodPrice %></span></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<% }); %>