<% _.each(allCategoryFoodList, (foodList, idx) => { %>
<div class="toggle-box">
    <input class="checkbox" type="checkbox" id="toggle-<%= idx %>" checked>
    <label class="toggle-label" for="toggle-<%= idx %>"><%= foodList.category %></label>
    <div class="toggle-content">
        <div class="module">
            <ul>
                <% _.each(foodList, (food) => { %>
                <li><%= food.title %> <span><%= food.price %></span></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<% }); %>